<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74627781720-nmahcc61p42d09rsm4m0g6714i3cnh5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74627781720-nmahcc61p42d09rsm4m0g6714i3cnh5g</string>
	<key>API_KEY</key>
	<string>AIzaSyDkrZosjYDCz-QEdMSKq12flKnm9EMCtJA</string>
	<key>GCM_SENDER_ID</key>
	<string>74627781720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pubBaseExample</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-e8e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-e8e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74627781720:ios:24a6eb08c8e94d006b662d</string>
	<key>DATABASE_URL</key>
	<string>https://phoneauth-e8e0b.firebaseio.com</string>
</dict>
</plist>